[submodule "klsxx"]
	path = klsxx
	url = https://github.com/NEWorldProject/klsxx.git
[submodule "cxx.count"]
	path = count
	url = https://github.com/neoJupyter/cxx.count.git
[submodule "common"]
	path = common
	url = https://github.com/neoJupyter/cxx.common.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/neoJupyter/cxx.kernel.git
[submodule "proxy"]
	path = proxy
	url = https://github.com/neoJupyter/cxx.proxy.git
